.search-bar {
  width: 357px;
  border: black;
  padding: 10px;
  justify-content: "center";
  margin-right: auto;
  margin-left: 40%;
  box-shadow: 0 0 3px black;
  margin-top: 10px;
}

.search-button {
  background-color: black;
  border: none;
  padding: 10px 20px;
  color: azure;
}

.Title {
  color: blue;
  padding-bottom: 10px;
}

.Description {
  color: darkgrey;
  justify-content: left;
  text-align: left;
  font-size: x-small;
  max-width: 400px;
  word-wrap: break-word;
  margin-bottom: 30px;
  margin-top: -15px;
}
.Thumbail {
  float: left;
}

.Thumbnaildiv {
  float: left;
  width: 3.5%;
}

.reviews {
  position: relative;
  top: 20%;
  left: 40%;
  width: auto;
  height: auto;
}
