.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* / Three column layout / */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  margin-top: 10px;
  float: left;
  width: 70%;
}

/* / Place text to the right / */
.right {
  text-align: right;
}

/* / Clear floats after the columns / */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 200px;
  /* / Should be removed. Only for demonstration / */
}
.left-column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 200px;
  /* / Should be removed. Only for demonstration / */
}
.right-column {
  float: right;
  width: 70%;
  padding: 10px;
  height: 200px;
  /* / Should be removed. Only for demonstration / */
}
/* / The bar container / */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

.star-num-style {
  text-align: center;
  margin-top: 20px;
}

/* / Individual bars / */
.bar-5 {
  width: 60%;
  height: 18px;
  background-color: #4caf50;
}
.bar-4 {
  width: 30%;
  height: 18px;
  background-color: #2196f3;
}
.bar-3 {
  width: 10%;
  height: 18px;
  background-color: #00bcd4;
}
.bar-2 {
  width: 4%;
  height: 18px;
  background-color: #ff9800;
}
.bar-1 {
  width: 15%;
  height: 18px;
  background-color: #f44336;
}

/* / Responsive layout - make the columns stack on top of each other instead of next to each other / */
@media (max-width: 400px) {
  .side,
  .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}
